@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');


body {
  direction: rtl;
  text-align: right;
  font-family: "Cairo", sans-serif;
  font-weight: 400;
  font-style: normal;  margin: 0;
  padding: 0;
}

.navbar-nav {
  flex-direction: row-reverse;
}

.form-control {
  margin-left: 10px;
}

footer {
  background: #f8f9fa;
  color: black;
  padding: 20px;
  text-align: center;
}

.container {
  margin-top: 20px;
}

.rounded-circle {
  border: 5px solid #f8f9fa;
}

.card-title {
  font-size: 1.2rem;
}

.card-text {
  font-size: 0.9rem;
}

.section {
  background-image: url(assets/images/profile-picture.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}