body {
  direction: rtl;
  text-align: right;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar-nav {
  flex-direction: row-reverse;
}

.form-control {
  margin-left: 10px;
}

footer {
  background: #324f6c;
  color: black;
  padding: 20px;
  text-align: center;
}

.container {
  margin-top: 20px;
}

.rounded-circle {
  border: 5px solid #f8f9fa;
}

.card-title {
  font-size: 1.2rem;
}

.card-text {
  font-size: 0.9rem;
}
